# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# Data
data/raw/*
!data/raw/.gitkeep
data/db.sqlite3
data/logs/*
!data/logs/.gitkeep
data/processed/dashboard.json

# Node/build
node_modules/
dist/
build/

# OS/Editor
.DS_Store
.idea/
.vscode/
